<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>E.C.S - FAQs Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/slick.css" />

    <link href="/static/css/tooplate-little-fashion.css" rel="stylesheet">

    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/index">
                    <strong><span>E.C</span>.S</strong>
                </a>

                <div class="d-lg-none">
                    <a href="/sign-in" class="bi-person custom-icon me-3"></a>

                    <a href="product-detail.html" class="bi-bag custom-icon"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/ourpartner">Our Partners</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/faq">FAQs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Contact">Contact</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="/sign-in" class="bi-person custom-icon me-3"></a>


                    </div>
                </div>
            </div>
        </nav>

        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">Your favorite questions</span>
                            <span class="d-block text-dark">and our answers to them</span>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="faq section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12">
                        <h2>General Info.</h2>

                        <div class="accordion" id="accordionGeneral">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionGeneralOne" aria-expanded="true"
                                        aria-controls="accordionGeneralOne">
                                        Who we are ?
                                    </button>
                                </h2>

                                <div id="accordionGeneralOne" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">We are <strong>Team Error-406</strong> , We here to
                                            give you this technology , end to end discrisption. So you can deposite your
                                            cheque and clear very fast .</p>


                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionGeneralTwo" aria-expanded="false"
                                        aria-controls="accordionGeneralTwo">
                                        What is A.C.S.S. ?
                                    </button>
                                </h2>

                                <div id="accordionGeneralTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">The Project Automatic Cheque Settlement
                                            System is the Fastest Way of Clearing of Cheques In this The Cheque Will
                                            First
                                            Scanning by Some Algorithms Model to Findor Clear cut the A/C Number and all
                                            details
                                            which needs to be requires for Transferring the money from one bank to
                                            another bank
                                            account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionGeneralThree" aria-expanded="false"
                                        aria-controls="accordionGeneralThree">
                                        Time for Clearing A.C.
                                    </button>
                                </h2>

                                <div id="accordionGeneralThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">• To save lot of Time of Persons (Fast Transactions).
                                        </p>
                                        <p class="large-paragraph"> • Save Paper requirements the whole process is
                                            Totally Digital mode.</p>
                                        <p class="large-paragraph"> • It’s Safe and Totally Secure the bank will ensure
                                            the safe transactions.</p>
                                        <p class="large-paragraph"> • It is Easy to Use such that Everyone can friendly
                                            with this application.</p>
                                        <p class="large-paragraph"> • Fast Transactions & Easy Settlements.</p>
                                        <p class="large-paragraph"> • Easy to use & Eco-friendly.</p>
                                        <p class="large-paragraph"> • Effective cost & Safe and Secure.</p>
                                        <p class="large-paragraph"> • Security Verification via call and SMS.</p>
                                        <p class="large-paragraph"> • Access this web app on their home, with a validity
                                            of 5-6 days after that
                                            cheque should be deposit in bank physical mode.</p>
                                        <p class="large-paragraph"> • Receipt are transfer their Email Id or Contact
                                            Number as a proof (Save
                                            Paper Cutting Cost).</p>
                                        <p class="large-paragraph"> • No Additional Form are Require Like (Deposit
                                            form), etc.</p>
                                        <p class="large-paragraph"> • Processing or Clearing of Cheque are very Fast.
                                        </p>
                                        <p class="large-paragraph"> • NEFT & RTGX using Cheque facilities are available
                                            on this web app</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h2 class="mt-5">About <span>our products</span></h2>

                        <div class="accordion" id="accordionProduct">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionProductOne" aria-expanded="true"
                                        aria-controls="accordionProductOne">
                                        How to Process Cheque. ?
                                    </button>
                                </h2>

                                <div id="accordionProductOne" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionProduct">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">• The Machine-like ATMs works similar to this cheque
                                            settlement system works.</p>
                                        <p class="large-paragraph">• The software that installed on machine so that its
                                            scans and work properly.</p>
                                        <p class="large-paragraph"> • After the cheque scans its stores in database for
                                            further execute.</p>
                                        <p class="large-paragraph">• Once gets transfer bank server it executes and
                                            settle down quicker the whole
                                            things take an hour depending on bank server load.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionProductTwo" aria-expanded="false"
                                        aria-controls="accordionProductTwo">
                                        After Cheque Deposite how many time for waiting.
                                    </button>
                                </h2>

                                <div id="accordionProductTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive" data-bs-parent="#accordionProduct">

                                    <div class="accordion-body">
                                        <p class="large-paragraph">Maximum 2 to 3 hours .</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="/index">E.C</a>.S</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>E.C.S</strong>
                    </p>
                    <br>
                    <p class="copyright-text">Designed by <a href=" " target="_blank">Team Error-406</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="/about" class="footer-menu-link">About Us</a></li>

                        <li class="footer-menu-item"><a href="/ourpartner" class="footer-menu-link">Our Partners</a>
                        </li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                        <li class="footer-menu-item"><a href="/faq" class="footer-menu-link">FAQs</a></li>

                        <li class="footer-menu-item"><a href="/Contact" class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/Headroom.js"></script>
    <script src="/static/js/jQuery.headroom.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/custom.js"></script>

</body>

</html>